<%if @article.errors.any?  %>
<h3>The following errors prvented from creating an article</h3>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
  <li> <%=msg %> </li>
  <% end %>
</ul>
<% end %>

<%= form_for @article do |j|%>
  <p>
    <%= j.label :title %><br>
      <%= j.text_field :title %>
  </p>
  <p>
    <%= j.label :description %><br>
    <%= j.text_area :description %>
  </p>

  <p>
    <%= j.submit %>
  </p>

<% end %>

<p> <%= link_to "back to articles listing",articles_path%></p>
