<h1> showing the article </h1>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
 <% if @article.user %>
  <li>Created By</li>
  <p><%= link_to @article.user.username, user_path(@article.user)%></p>
  <p><%= pluralize(@article.user.articles.count, "article")%></p>
  <% end %>
<p><% if logged_in? && current_user == @article.user%></p>
<p><%= link_to "Edit this Article",edit_article_path(@article),class: "btn btn-primary" %></p>
<p><%= link_to "Delete",article_path(@article), method: :delete, data: {confirm: "Are u sure "},class: "btn btn-primary" %></p>
<p><% end %></p>
<p> <%= link_to "View All Articles",articles_path ,class: "btn btn-primary"%></p>
